* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position:absolute;
  left: 43%;
  top: -12%;
  transform: translateY(-10%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
    position: relative;
    width: 800px;
    height: 200px;
    background: slateblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,.3);
    min-width:400px;
    padding: 70px 20px ;
    margin: 5px ;
    color: white;
}
.username{

    font-size: 25
    px;
    font-weight: 100px  ;
}